[Desktop Entry]
Name=ISOVault
Name[pt]=ISOVault
Name[es]=ISOVault
Name[bg]=ISOVault
Name[cs]=ISOVault
Name[da]=ISOVault
Name[de]=ISOVault
Name[el]=ISOVault
Name[et]=ISOVault
Name[fi]=ISOVault
Name[fr]=ISOVault
Name[he]=ISOVault
Name[hr]=ISOVault
Name[hu]=ISOVault
Name[is]=ISOVault
Name[it]=ISOVault
Name[ja]=ISOVault
Name[ko]=ISOVault
Name[nl]=ISOVault
Name[no]=ISOVault
Name[pl]=ISOVault
Name[ro]=ISOVault
Name[ru]=ISOVault
Name[sk]=ISOVault
Name[sv]=ISOVault
Name[tr]=ISOVault
Name[uk]=ISOVault
Name[zh]=ISOVault
GenericName=ISO Manager
GenericName[pt]=Gerenciador de ISOs
GenericName[es]=Gestor de ISOs
GenericName[bg]=Мениджър на ISO
GenericName[cs]=Správce ISO
GenericName[da]=ISO-håndtering
GenericName[de]=ISO-Manager
GenericName[el]=Διαχειριστής ISO
GenericName[et]=ISO haldur
GenericName[fi]=ISO-hallinta
GenericName[fr]=Gestionnaire d'ISO
GenericName[he]=מנהל ISO
GenericName[hr]=ISO Upravitelj
GenericName[hu]=ISO Kezelő
GenericName[is]=ISO Stjóri
GenericName[it]=Gestore ISO
GenericName[ja]=ISOマネージャー
GenericName[ko]=ISO 관리자
GenericName[nl]=ISO Beheerder
GenericName[no]=ISO-behandler
GenericName[pl]=Menedżer ISO
GenericName[ro]=Manager ISO
GenericName[ru]=Менеджер ISO
GenericName[sk]=Správca ISO
GenericName[sv]=ISO-hanterare
GenericName[tr]=ISO Yöneticisi
GenericName[uk]=Менеджер ISO
GenericName[zh]=ISO 管理器
Comment=Manage ISOs on DNS server using S3 bucket
Comment[pt]=Gerencie ISOs em um servidor DNS usando um bucket S3
Comment[es]=Gestiona ISOs en un servidor DNS usando un bucket S3
Comment[bg]=Управлявайте ISO файлове на DNS сървър, използвайки S3 кош
Comment[cs]=Spravujte ISO obrazy na DNS serveru pomocí S3 bucketu
Comment[da]=Administrer ISO'er på en DNS-server ved hjælp af en S3-bucket
Comment[de]=Verwalten Sie ISOs auf einem DNS-Server mit einem S3-Bucket
Comment[el]=Διαχειριστείτε ISO σε διακομιστή DNS χρησιμοποιώντας ένα S3 bucket
Comment[et]=Hallake ISO-sid DNS-serveris S3 ämbri abil
Comment[fi]=Hallitse ISO-tiedostoja DNS-palvelimella S3-säilön avulla
Comment[fr]=Gérez les ISO sur un serveur DNS en utilisant un bucket S3
Comment[he]=נהל קבצי ISO בשרת DNS באמצעות דלי S3
Comment[hr]=Upravljajte ISO datotekama na DNS poslužitelju koristeći S3 bucket
Comment[hu]=ISO-k kezelése DNS-szerveren S3 vödör használatával
Comment[is]=Hafðu umsjón með ISO skrám á DNS netþjóni með S3 fötu
Comment[it]=Gestisci ISO su server DNS utilizzando un bucket S3
Comment[ja]=S3バケットを使用してDNSサーバー上のISOを管理します
Comment[ko]=S3 버킷을 사용하여 DNS 서버에서 ISO 관리
Comment[nl]=Beheer ISO's op een DNS-server met een S3-bucket
Comment[no]=Administrer ISO-er på en DNS-server ved hjelp av en S3-bøtte
Comment[pl]=Zarządzaj obrazami ISO na serwerze DNS za pomocą bucketu S3
Comment[ro]=Gestionați fișiere ISO pe un server DNS folosind un bucket S3
Comment[ru]=Управляйте ISO-образами на DNS-сервере с помощью бакета S3
Comment[sk]=Spravujte ISO obrazy na DNS serveri pomocou S3 bucketu
Comment[sv]=Hantera ISO-filer på en DNS-server med en S3-bucket
Comment[tr]=S3 bucket kullanarak DNS sunucusundaki ISO'ları yönetin
Comment[uk]=Керуйте ISO-образами на DNS-сервері за допомогою S3-бакету
Comment[zh]=使用 S3 存储桶管理 DNS 服务器上的 ISO
Exec=isovault %F
Icon=isovault
StartupWMClass=isovault
StartupNotify=true
Terminal=false
Type=Application
Categories=System;Utility;Network;
Keywords=iso;image;boot;s3;dns;server;manage;upload;download;cloud;
Keywords[pt]=iso;imagem;boot;s3;dns;servidor;gerenciar;upload;download;nuvem;
MimeType=application/x-iso9660-image;
